.memo-container {
  margin-top: 45px;
  height: calc(100vh - 45px);
  display: flex;
}

/* 메모 그룹 리스트 영역 */
.memo-container .memo-group-panel {
  position: relative;
  width: 260px;
  background-color: #fbfbfd;
  height: 100%;
  display: flex;
  flex-direction: column;
  border-right: 1px solid rgba(212, 212, 212, 0.6);
}

.memo-container .memo-group-panel .memo-group-list-contents {
  flex-grow: 1;
  overflow: auto;
}

.memo-container .memo-group-panel .memo-group-list-contents .memo-group-list {
  padding: 10px 10px 0;
}

.memo-container
  .memo-group-panel
  .memo-group-list-contents
  .memo-group-list
  .memo-group-list-item-container {
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 5px;
}

.memo-container
  .memo-group-panel
  .memo-group-list-contents
  .memo-group-list
  .memo-group-list-item-container:last-child {
  margin-bottom: 0;
}

.memo-container
  .memo-group-panel
  .memo-group-list-contents
  .memo-group-list
  .memo-group-list-item-container
  .memo-group-list-item-row {
  height: 32px;
  padding: 0 12px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.memo-container
  .memo-group-panel
  .memo-group-list-contents
  .memo-group-list
  .memo-group-list-item-container
  .memo-group-list-item-row:hover {
  background-color: rgba(0, 0, 0, 0.04);
}

.memo-container
  .memo-group-panel
  .memo-group-list-contents
  .memo-group-list
  .memo-group-list-item-container
  .memo-group-list-item-row.selected {
  background-color: rgba(120, 120, 128, 0.16);
}

.memo-container
  .memo-group-panel
  .memo-group-list-contents
  .memo-group-list
  .memo-group-list-item-container
  .memo-group-list-item-row.selected:hover {
  background-color: rgba(0, 0, 0, 0.16);
}

.memo-container
  .memo-group-panel
  .memo-group-list-contents
  .memo-group-list
  .memo-group-list-item-container
  .memo-group-list-item-row
  .chevron {
  padding: 7px 6px;
  cursor: pointer;
}

.memo-container
  .memo-group-panel
  .memo-group-list-contents
  .memo-group-list
  .memo-group-list-item-container
  .memo-group-list-item-row
  .memo-group-title-select-button {
  flex: 1;
  display: flex;
  align-items: center;
  cursor: pointer;
  font-size: 14px;
}

.memo-container
  .memo-group-panel
  .memo-group-list-contents
  .memo-group-list
  .memo-group-list-item-container
  .memo-group-list-item-row
  .memo-group-title-select-button
  .folder-icon {
  margin-right: 7px;
  font-size: 20px;
  color: #5292ff;
}

.memo-container
  .memo-group-panel
  .memo-group-list-contents
  .memo-group-list
  .memo-group-list-item-container
  .memo-group-list-item-row
  .memo-group-title-select-button
  .folder-title {
  margin-top: 2.6px;
}

/* 메모 그룹 하단 영역 */
.memo-container .memo-group-panel .memo-group-bottom {
  position: relative;
  height: 44px;
  padding: 0 10px;
  display: flex;
  align-items: center;
}

.memo-container .memo-group-panel .memo-group-bottom .btn {
  position: absolute;
  display: flex;
  align-items: center;
  cursor: pointer;
  height: 30px;
  padding: 0 10px;
  left: 10px;
  border-radius: 8px;
}

.memo-container .memo-group-panel .memo-group-bottom .btn:hover {
  background-color: rgba(0, 0, 0, 0.08);
}

.memo-container .memo-group-panel .memo-group-bottom .btn span {
  display: inline-block;
  font-size: 15px;
  font-weight: 600;
  color: #5292ff;
}

.memo-container .memo-group-panel .memo-group-bottom .btn span:first-child {
  margin-right: 5px;
}
