.memo-container {
  margin-top: 45px;
  height: calc(100vh - 45px);
  display: flex;
}

/* 메모 그룹 영역 스타일 작업 */
.memo-container .memo-group-panel {
  position: relative;
  width: 260px;
  background-color: #fbfbfd;
  height: 100%;
  display: flex;
  flex-direction: column;
  border-right: 1px solid rgba(137, 137, 151, 0.16);
}

.memo-container .memo-group-panel .memo-group-list-contents {
  flex-grow: 1;
  overflow: auto;
  -ms-overflow-style: none; /* 익스플로러, 앳지 */
  scrollbar-width: none; /* 파이어폭스 */
}

.memo-container .memo-group-panel .memo-group-list-contents::-webkit-scrollbar {
  display: none; /* 크롬, 사파리, 오페라 */
}

.memo-container .memo-group-panel .memo-group-list-contents .memo-group-list {
  padding: 10px 10px 0;
}

.memo-container
  .memo-group-panel
  .memo-group-list-contents
  .memo-group-list
  .memo-group-list-item-container {
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 5px;
}

.memo-container
  .memo-group-panel
  .memo-group-list-contents
  .memo-group-list
  .memo-group-list-item-container:last-child {
  margin-bottom: 0;
}

.memo-container
  .memo-group-panel
  .memo-group-list-contents
  .memo-group-list
  .memo-group-list-item-container
  .memo-group-list-item-row {
  height: 32px;
  padding: 0 12px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.memo-container
  .memo-group-panel
  .memo-group-list-contents
  .memo-group-list
  .memo-group-list-item-container
  .memo-group-list-item-row:hover {
  background-color: rgba(0, 0, 0, 0.05);
}

.memo-container
  .memo-group-panel
  .memo-group-list-contents
  .memo-group-list
  .memo-group-list-item-container
  .memo-group-list-item-row.selected {
  background-color: rgba(137, 137, 151, 0.16);
}

.memo-container
  .memo-group-panel
  .memo-group-list-contents
  .memo-group-list
  .memo-group-list-item-container
  .memo-group-list-item-row.selected:hover {
  background-color: rgba(0, 0, 0, 0.09);
}

.memo-container
  .memo-group-panel
  .memo-group-list-contents
  .memo-group-list
  .memo-group-list-item-container
  .memo-group-list-item-row
  .chevron {
  padding: 7px 6px;
  cursor: pointer;
}

.memo-container
  .memo-group-panel
  .memo-group-list-contents
  .memo-group-list
  .memo-group-list-item-container
  .memo-group-list-item-row
  .memo-group-title-select-button {
  flex: 1;
  display: flex;
  align-items: center;
  cursor: pointer;
  font-size: 14px;
}

.memo-container
  .memo-group-panel
  .memo-group-list-contents
  .memo-group-list
  .memo-group-list-item-container
  .memo-group-list-item-row
  .memo-group-title-select-button
  .folder-icon {
  margin-right: 7px;
  font-size: 20px;
  color: #5292ff;
}

.memo-container
  .memo-group-panel
  .memo-group-list-contents
  .memo-group-list
  .memo-group-list-item-container
  .memo-group-list-item-row.selected
  .delete-btn {
  font-size: 20px;
  color: #696969;
  cursor: pointer;
  transition: 0.4s;
}

.memo-container
  .memo-group-panel
  .memo-group-list-contents
  .memo-group-list
  .memo-group-list-item-container
  .memo-group-list-item-row.selected
  .delete-btn:hover {
  color: red;
}

.memo-container
  .memo-group-panel
  .memo-group-list-contents
  .memo-group-list
  .memo-group-list-item-container
  .memo-group-list-item-row
  .memo-group-title-select-button
  .folder-title {
  margin-top: 2.6px;
}

/* 메모 그룹 하단 영역 */
.memo-container .memo-group-panel .memo-group-bottom {
  position: relative;
  height: 44px;
  padding: 0 10px;
  display: flex;
  align-items: center;
}

.memo-container .memo-group-panel .memo-group-bottom .btn {
  position: absolute;
  display: flex;
  align-items: center;
  cursor: pointer;
  height: 30px;
  padding: 0 10px;
  left: 10px;
  border-radius: 8px;
}

.memo-container .memo-group-panel .memo-group-bottom .btn:hover {
  background-color: rgba(0, 0, 0, 0.08);
}

.memo-container .memo-group-panel .memo-group-bottom .btn span {
  display: inline-block;
  font-size: 15px;
  font-weight: 600;
  color: #5292ff;
}

.memo-container .memo-group-panel .memo-group-bottom .btn span:first-child {
  margin-right: 5px;
}

.memo-container .memo-list-contents {
  flex-grow: 1;
  height: 100%;
  display: flex;
  overflow: hidden;
}

/* 메모장 리스트 영역 스타일 작업 */
.memo-container .memo-lists {
  width: 320px;
  height: 100%;
  display: flex;
  flex-direction: column;
  border-right: 1px solid rgba(212, 212, 212, 0.6);
}

.memo-container .memo-lists .memo-search .memo-search-content {
  display: flex;
  align-items: center;
  height: 32px;
  margin: 10px;
  background-color: rgba(137, 137, 151, 0.16);
  border-radius: 10px;
  overflow: hidden;
}

.memo-container .memo-lists .memo-search .material-symbols-outlined {
  font-size: 22px;
  color: rgba(0, 0, 0, 0.56);
  padding-left: 8px;
}

.memo-container .memo-lists .memo-search input[type="text"] {
  flex-grow: 1;
  background-color: transparent;
  border: none;
  padding: 0;
  margin: 0;
  padding-left: 5px;
  height: 100%;
  font-size: 15px;
}

.memo-container .memo-lists .memo-list-content {
  flex-grow: 1;
  overflow-y: auto;
}

.memo-container .memo-lists .memo-list-content .memo-list {
  padding: 0 10px 10px;
}

.memo-container
  .memo-lists
  .memo-list-content
  .memo-list
  .memo-list-item-container {
  border-radius: 8px;
  box-sizing: border-box;
  display: flex;
  font-size: 15px;
  font-weight: 400;
  padding: 10px;
  width: 300px;
  margin-bottom: 10px;
  cursor: pointer;
  position: relative;
}

.memo-container
  .memo-lists
  .memo-list-content
  .memo-list
  .memo-list-item-container:last-child {
  margin-bottom: 0;
}

.memo-container
  .memo-lists
  .memo-list-content
  .memo-list
  .memo-list-item-container.selected {
  background-color: rgba(137, 137, 151, 0.16);
}

.memo-container
  .memo-lists
  .memo-list-content
  .memo-list
  .memo-list-item-container.selected:hover {
  background-color: rgba(86, 86, 97, 0.16);
}

.memo-container
  .memo-lists
  .memo-list-content
  .memo-list
  .memo-list-item-container:hover {
  background-color: rgba(185, 185, 203, 0.16);
}

.memo-container
  .memo-lists
  .memo-list-content
  .memo-list
  .memo-list-item-container::after {
  content: "";
  position: absolute;
  height: 1px;
  background-color: #e8e8eb;
  left: 27px;
  bottom: 0;
  width: 267px;
}

.memo-container
  .memo-lists
  .memo-list-content
  .memo-list
  .memo-list-item-container
  .gutter {
  width: 17px;
  margin-right: 6px;
}

.memo-container
  .memo-lists
  .memo-list-content
  .memo-list
  .memo-list-item-container
  .content {
  flex-grow: 1;
  overflow: hidden;
}

.memo-container
  .memo-lists
  .memo-list-content
  .memo-list
  .memo-list-item-container
  .content
  .title {
  color: rgba(0, 0, 0, 0.88);
  font-size: 15px;
  font-weight: 600;
}

.memo-container
  .memo-lists
  .memo-list-content
  .memo-list
  .memo-list-item-container
  .content
  .summary {
  display: flex;
  font-size: 15px;
  text-align: left;
  overflow: hidden;
}

.memo-container
  .memo-lists
  .memo-list-content
  .memo-list
  .memo-list-item-container
  .content
  .summary
  .date {
  flex: 0 0 43px;
  margin-right: 6px;
}

.memo-container
  .memo-lists
  .memo-list-content
  .memo-list
  .memo-list-item-container
  .content
  .summary
  .snippet {
  flex-grow: 1;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  color: rgba(0, 0, 0, 0.56);
}

.memo-container
  .memo-lists
  .memo-list-content
  .memo-list
  .memo-list-item-container
  .content
  .group-list-items {
  display: flex;
  align-items: center;
  color: rgba(0, 0, 0, 0.56);
  font-size: 14px;
  line-height: 14px;
}

.memo-container
  .memo-lists
  .memo-list-content
  .memo-list
  .memo-list-item-container
  .content
  .group-list-items
  .folder-icon {
  font-size: 20px;
  margin-right: 5px;
}

.memo-list-contents .memo-contents {
  flex-grow: 1;
}

/* Quill Editro CSS 스타일 정의 */
.memo-contents .ql-toolbar.ql-snow {
  border: none;
  display: flex;
  justify-content: center;
  height: 40px;
}

.memo-contents .ql-toolbar .ql-formats .ql-stroke {
  stroke: rgba(82, 146, 255, 0.8);
}

.memo-contents .ql-toolbar .ql-formats .ql-fill {
  fill: rgba(82, 146, 255, 0.8);
}

.ql-snow .ql-picker {
  color: rgb(82, 146, 255);
}

.memo-contents .ql-container.ql-snow {
  border: none;
  height: calc(100% - 40px);
}

/* Memo Editor 스크롤 영역 */
.memo-contents .memo-list-content::-webkit-scrollbar,
.memo-contents .ql-editor::-webkit-scrollbar {
  display: none;
}

.memo-contents .memo-list-content.show-scrollbar::-webkit-scrollbar,
.memo-contents .ql-editor.show-scrollbar::-webkit-scrollbar {
  display: block;
}

/* 스크롤바 전체 스타일 */
::-webkit-scrollbar {
  width: 8px; /* 스크롤바의 너비 */
}

/* 스크롤바 배경 */
::-webkit-scrollbar-track {
  background: transparent; /* 배경을 투명하게 설정 */
  border: none; /* 테두리 제거 */
}

/* 스크롤바 핸들(움직이는 부분) */
::-webkit-scrollbar-thumb {
  background: #cacaca; /* 핸들 색상 */
  border-radius: 5px; /* 모서리 둥글게 */
}

/* 스크롤바 핸들 호버 시 */
::-webkit-scrollbar-thumb:hover {
  background: #b0b0b0; /* 호버 시 색상 변경 */
}
