.login-container {
  position: relative;
  height: 100vh;
  overflow: hidden;
}

.login-container .login-container-video__area {
  width: 1920px;
  position: absolute;
  left: 50%;
  margin-left: calc(1920px / -2);
  top: 50%;
  margin-top: calc(1920px * 9 / 16 / -2);
}

.login-container .login-container-video__area::before {
  content: "";
  display: block;
  width: 100%;
  padding-top: 56.25%;
}

.login-container .login-container-video__cover {
  background-image: url("../../images/video_cover_pattern.png");
  background-color: rgba(0, 0, 0, 0.3);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.login-container .login-container-video__area #player {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.login-container .login-container__card {
  position: absolute;
  width: 500px;
  background-color: #fff;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.3);
  color: #555;
  overflow: hidden;
}

.login-container .login-container__card h1 {
  padding: 35px 20px 0;
  font-size: 18px;
  text-align: center;
}

.login-container .login-container__card form {
  padding: 30px 22px;
}

.login-container .login-container__card form input {
  width: 100%;
  margin-bottom: 12px;
  padding: 15px;
  box-sizing: border-box;
  border: 1px solid #ddd;
  border-radius: 4px;
  outline: none;
  font-size: 14px;
  transition: 0.3s;
}

.login-container .login-container__card form input:focus {
  border: 1px solid #333;
}

.login-container .login-container__card form input[type="submit"] {
  background-color: #333;
  color: #fff;
  border: 2px solid #333;
  font-weight: 700;
  cursor: pointer;
  transition: 0.4s;
}

.login-container .login-container__card .action {
  display: flex;
  border-top: 1px solid #ddd;
}

.login-container .login-container__card .action a {
  flex-grow: 1;
  flex-basis: 0;
  text-align: center;
  padding: 20px;
  color: #555;
  font-size: 14px;
  border-right: 1px solid #ddd;
}

.login-container .login-container__card .action a:hover {
  text-decoration: underline;
}

.login-container .login-container__card .action a:last-child {
  border-right: none;
}
